.wrapperMasthead {
  margin-bottom: 50px;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  padding: 0 10px;
  width: 100%;
}

.masthead {
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

@media screen and (max-width: 640px) {
  .masthead {
    text-align: center;
  }
}

/* Header */
.siteInfo {
  float: left;
}

.siteName {
  margin: 0;
  color: #333;
  cursor: pointer;
  font-family: Arial;
  font-weight: 300;
  font-size: 40px;
  letter-spacing: 1px;
}

.siteName a {
  color: inherit;
}

.siteName a:hover {
  color: #222222;
  text-decoration: none;
}

.siteDescription {
  margin: -2.5px 0 0 0;
  color: #666;
  font-family: Arial;
  font-size: 24px;
  margin-bottom: 15px;
}

.siteDescription a {
  color: inherit;
}

.siteDescription a:hover {
  color: #666;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .siteDescription {
    margin: 3px 0;
    line-height: 1.4;
  }
}

.clearfix:after {
  clear: both;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* Contact Page */
.contact h3 {
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.5;
}

@media screen and (max-width: 640px) {
  .contact {
    text-align: center;
  }
}

/* Contact page - Social Icons */
.icons {
  text-align: left;
}

.icons li {
  display: inline-block;
  padding: 0 1em 0 0;
}

@media screen and (max-width: 640px) {
  .icons {
    text-align: center;
  }
  .icons li {
    padding: 0 1em 0 1em;
  }
}

/* Certfications Page */
.certificationsTable td {
  padding-bottom: 1.5em;
  vertical-align: middle;
  font-weight: 400;
}

.certifications li {
  list-style-type: none;
  padding: 0 0 2em 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
}

.certLabel {
  margin: 0 0 0 0.5em;
}

.icon {
  margin: 0 0.5em 0 0;
}

.googleIcon {
  color: #34a853;
}

.awsIcon {
  color: #ff9900;
}

/* Project Page - Cards */
.card {
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
  border-radius: 5px;
  padding: 2px 32px;
  margin: 10px;
}

.cardBody h2 {
  margin-top: 3.5rem;
  margin-bottom: 1.75rem;
  font-size: 30px;
  font-weight: 500;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: #222222;
  line-height: 1.1;
}

.cardBody p {
  font-size: 18px;
  color: #333333;
  line-height: 25px;
  margin-bottom: 1.75rem;
}

.cardBody a {
  margin-top: 100px !important;
  margin-right: 1rem;
  text-transform: uppercase;
  font-size: 15px;
}

.cardBody a:hover {
  text-decoration: underline;
  text-decoration-color: #5e42a6;
}

@media screen and (max-width: 640px) {
  .navUl {
    justify-content: center !important;
  }
}

/* .main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card {
  margin: 1rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: 300px;
}

.card:hover,
.card:focus,
.card:active {
  color: #0070f3;
  border-color: #0070f3;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
